<!--

// Name of Project: Box Sizing.
// Author Name: Ganesh B Naykawadi.
// Date Created: 05 August, 2020.
// Description: CSS Box-Sizing functionality demo using HTML and CSS.

-->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Box Sizing</title>
    <meta name="author" content="Mr. Ganesh Naykawadi." />
    <meta name="description" content="CSS box-Sizing property demo using HTML and CSS."/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../Stylesheets/Box-Sizing-Style.css">
    <link rel="stylesheet" href="../Stylesheets/Sudo-Style.css">
  </head>
  <body>
    <h3>Box Sizing</h3>
    <p>01. Without Box Sizing:</p>
    <div class="box-1">
      box-1
    </div>
    <div class="box-2">
      box-2
    </div>
    <br><hr>
    <p>02. With Box Sizing:</p>
    <div class="box-3">
      box-3
    </div>
    <div class="box-4">
      box-4
    </div>

  </body>
</html>
