<!--

// Name of Project: Multiple Columns layout.
// Author Name: Ganesh B Naykawadi.
// Date Created: 05 August, 2020.
// Description: User Interface functionality using HTML and CSS.

-->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Mr. Ganesh Naykawadi." />
    <meta name="description" content="Demo to Multiple Columns layout using HTML and CSS."/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Multiple Columns</title>
    <link rel="stylesheet" href="../Stylesheets/Multiple-Columns-Style.css">
    <link rel="stylesheet" href="../Stylesheets/Sudo-Style.css">
  </head>
  <body>
    <h3>Multiple Columns layout</h3>
    <div class="article">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tellus elementum sagittis vitae et leo duis ut diam. Aliquam id diam maecenas ultricies mi eget mauris pharetra. Nec feugiat in fermentum posuere urna nec tincidunt praesent semper. Scelerisque varius morbi enim nunc faucibus a pellentesque. Amet luctus venenatis lectus magna fringilla urna porttitor. Volutpat maecenas volutpat blandit aliquam etiam erat velit scelerisque in. Cras fermentum odio eu feugiat. Amet nisl purus in mollis. Facilisis sed odio morbi quis commodo odio aenean. Dictum sit amet justo donec. Cursus in hac habitasse platea dictumst quisque sagittis purus sit. In pellentesque massa placerat duis. Tempus urna et pharetra pharetra massa.
      Et sollicitudin ac orci phasellus. Elit duis tristique sollicitudin nibh sit amet commodo nulla. Netus et malesuada fames ac turpis egestas. Sit amet porttitor eget dolor morbi non arcu. Amet consectetur adipiscing elit pellentesque habitant. Nisl suscipit adipiscing bibendum est ultricies integer quis auctor. Enim lobortis scelerisque fermentum dui. Aliquet risus feugiat in ante metus dictum at tempor commodo. Ullamcorper a lacus vestibulum sed arcu non odio. Pellentesque id nibh tortor id. Est lorem ipsum dolor sit amet consectetur adipiscing elit. Lectus quam id leo in vitae turpis massa. Tincidunt nunc pulvinar sapien et. Leo vel fringilla est ullamcorper eget nulla facilisi.
      Massa sed elementum tempus egestas. Ligula ullamcorper malesuada proin libero. Nullam ac tortor vitae purus faucibus ornare suspendisse sed. Tortor at auctor urna nunc id cursus metus aliquam. Adipiscing bibendum est ultricies integer. Dignissim cras tincidunt lobortis feugiat vivamus at augue eget. Lectus nulla at volutpat diam. Et tortor consequat id porta nibh venenatis cras sed felis. Ultricies integer quis auctor elit sed vulputate mi sit amet. Turpis nunc eget lorem dolor sed viverra ipsum nunc.
    </div>
  </body>
</html>
