<!--

// Name of Project: User Interface - resize and outline-offset.
// Author Name: Ganesh B Naykawadi.
// Date Created: 05 August, 2020.
// Description: Multiple Columns layout using HTML and CSS.

-->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>User Interface</title>
    <meta name="author" content="Ganesh Naykawadi">
    <meta name="description" content="This Demo shows how to use CSS 3D Transformatio using CSS.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Stylesheets/User-Interface-Style.css">
    <link rel="stylesheet" href="../Stylesheets/Sudo-Style.css">
  </head>
  <body>
    <h3>User Interface</h3>
    <h4>01. resize: </h4>
    <p>1.1 resize: vertical</p>
    <div class="vertical" title="to resize click & drag bottom right corner.">
      This div resizes vertically.
    </div>
    <p>1.2 resize: horizontal</p>
    <div class="horizontal" title="to resize click & drag bottom right corner.">
      This div resizes vertically.
    </div>
    <p>1.3 resize: both</p>
    <div class="both" title="to resize click & drag bottom right corner.">
      This div resizes both horizontally and vertically.
    </div>
    <p>02. outline-offset:</p>
    <div class="out-offset">This div has a 4 pixels solid red outline 15 pixels outside the border edge.</div>

  </body>
</html>
